@import "variables";

.content {
    // TODO: Vary conent width for different screen sizes
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    padding: 4rem 2rem 4rem 4rem;
    transition: margin-bottom .4s ease-in-out;
    width: 80%;
}

.content-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    margin-bottom: 3rem;

    &.two-col {
        grid-template-columns: 1fr 1fr;
    }

    &.three-col {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.btn {
	display: inline-block;
    cursor: pointer;
	font-weight: 400;
	line-height: 1.5;
	color: $primary;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: transparent;
	border: 1px solid transparent;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	border-radius: 0.25rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &.disabled {
        opacity: .6;
        pointer-events: none;
        cursor: default;
    }
}

.btn-sm {
    font-size: 90%;
	padding: 0.175rem 0.45rem;
}

.btn-container .btn {
    margin-right: 1rem;
}

.btn-editor-control {
    color: $grey-darkerer;
    background-color: $grey-lighterer;
    border-color: $grey-lighterer;

    &::after {
        display: inline-block;
        margin-left: .255em;
        vertical-align: .255em;
        content: "";
        border-top: .3em solid;
        border-right: .3em solid transparent;
        border-bottom: 0;
        border-left: .3em solid transparent;
    }

    &:hover {
        background-color: $grey-lighter;
        border-color: $grey-lighter;
    }

    &:focus {
        box-shadow: 0 0 0 0.25rem $grey;
    }
}

.btn-primary {
    color: #fff;
    background-color: $primary-dark;
    border-color: $primary-dark;

    &:hover {
        background-color: $primary-darker;
        border-color: $primary-darker;
    }
    
    &:focus {
        box-shadow: 0 0 0 0.25rem $primary;
    }
}

.btn-success {
    color: #fff;
    background-color: $success-dark;
    border-color: $success-dark;
    &:hover {
        background-color: $success-darker;
        border-color: $success-darker;
    }
    
    &:focus {
        box-shadow: 0 0 0 0.25rem $success;
    }
}
.btn-info {
    color: #fff;
    background-color: $info;
    border-color: $info;
    &:hover {
        background-color: $info-dark;
        border-color: $info-dark;
    }
    
    &:focus {
        box-shadow: 0 0 0 0.25rem $info;
    }
}
.btn-warning {
    color: #fff;
    background-color: $warning-dark;
    border-color: $warning-dark;
    &:hover {
        background-color: $warning-darker;
        border-color: $warning-darker;
    }
    
    &:focus {
        box-shadow: 0 0 0 0.25rem $warning;
    }
}
.btn-danger {
    color: #fff;
    background-color: $danger-dark;
    border-color: $danger-dark;
    &:hover {
        background-color: $danger-darker;
        border-color: $danger-darker;
    }
    
    &:focus {
        box-shadow: 0 0 0 0.25rem $danger;
    }
}
.btn-light {
    color: $grey-dark;
    background-color: $grey-lighter;
    border-color: $grey-lighter;
    &:hover {
        background-color: $grey-light;
        border-color: $grey-light;
    }
    
    &:focus {
        box-shadow: 0 0 0 0.25rem $grey;
    }
}
.btn-dark {
    color: #fff;
    background-color: $grey-dark;
    border-color: $grey-dark;
    &:hover {
        background-color: $grey-darker;
        border-color: $grey-darker;
    }
    
    &:focus {
        box-shadow: 0 0 0 0.25rem $grey;
    }
}
.btn-outline-primary {
    color: $primary-dark;
    background-color: unset;
    border-color: $primary-dark;
    &:hover {
        color: $bg-color;
        background-color: $primary-darker;
        border-color: $primary-darker;
    }
    
    &:focus {
        box-shadow: 0 0 0 0.25rem $primary;
    }
}
.btn-outline-success {
    color: $success-dark;
    background-color: unset;
    border-color: $success-dark;
    &:hover {
        color: $bg-color;
        background-color: $success-darker;
        border-color: $success-darker;
    }
    
    &:focus {
        box-shadow: 0 0 0 0.25rem $success;
    }
}
.btn-outline-info {
    color: $info;
    background-color: unset;
    border-color: $info;
    &:hover {
        color: $bg-color;
        background-color: $info-dark;
        border-color: $info-dark;
    }
    
    &:focus {
        box-shadow: 0 0 0 0.25rem $info;
    }
}
.btn-outline-warning {
    color: $warning-dark;
    background-color: unset;
    border-color: $warning-dark;
    &:hover {
        color: $bg-color;
        background-color: $warning-darker;
        border-color: $warning-darker;
    }
    
    &:focus {
        box-shadow: 0 0 0 0.25rem $warning;
    }
}
.btn-outline-danger {
    color: $danger-dark;
    background-color: unset;
    border-color: $danger-dark;
    &:hover {
        color: $bg-color;
        background-color: $danger-darker;
        border-color: $danger-darker;
    }
    
    &:focus {
        box-shadow: 0 0 0 0.25rem $danger;
    }
}
.btn-outline-light {
    color: $grey;
    background-color: unset;
    border-color: $grey-lighter;
    &:hover {
        color: $bg-color;
        background-color: $grey-light;
        border-color: $grey-light;
    }
    
    &:focus {
        box-shadow: 0 0 0 0.25rem $grey;
    }
}
.btn-outline-dark {
    color: $grey-dark;
    background-color: unset;
    border-color: $grey-dark;
    &:hover {
        color: $bg-color;
        background-color: $grey-darker;
        border-color: $grey-darker;
    }
    
    &:focus {
        box-shadow: 0 0 0 0.25rem $grey;
    }
}
.btn-paginate {
    color: $bg-color;
    background-color: $primary;
    border-color: $primary;
    &:hover {
        background-color: $primary-dark;
        border-color: $primary-dark;
    }
    
    &:focus {
        box-shadow: 0 0 0 0.25rem $primary-light;
    }
}
.btn-paginate-active {
    color: $bg-color;
    background-color: $primary-dark;
    border-color: $primary-dark;
    
    &:hover {
        color: $bg-color;
        background-color: $primary-darker;
        border-color: $primary-darker;
    }
    
    &:focus {
        box-shadow: 0 0 0 0.25rem $primary;
    }
}
.btn-paginate-disabled {
    color: $grey;
    background-color: $primary-lighter;
    border-color: $primary-lighter;
    cursor: default;
}

.alert {
    display: flex;
    flex-direction: column;
    color: $grey-darkerer;
    background-color: $grey-lighterer;
    border: 1px solid $grey-lighter;
    border-radius: .75rem;

    .alert-header {
        border-top-right-radius: .75rem;
        border-top-left-radius: .75rem;
        border-bottom: 1px solid $grey-lighter;
        padding: .5rem 1rem;
        font-size: 110%;
        font-weight: 600;
    }

    .alert-body {
        padding: .5rem 1rem;

        .alert-title {
            font-size: 125%;
            font-weight: 500;
            margin-bottom: .5rem;
        }
    }
}

/** Forms */
select {
	display: block;
	width: 100%;
	padding: 0.375rem 2.25rem 0.375rem 0.75rem;
	-moz-padding-start: calc(0.75rem - 3px);
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #303030;
	background-color: #fff;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-position: right 0.75rem center;
	background-size: 16px 12px;
	border: 1px solid #222;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out box-shadow 0.15s ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
    word-wrap: normal;
}

input[type=text] {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

    &:focus {
        color: #212529;
        outline: 0;
    }
}

/** Sidebar */
.sidebar-container {
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 4rem 4rem 4rem 2rem;
}

$sidebar-card-padding: .5rem 1rem;

.sidebar-card {
    display: flex;
    flex-direction: column;
    border: 1px solid $grey-light;
    border-radius: .5rem;
    margin-bottom: 2rem;

    h3 {
        margin-bottom: .5rem;
    }

    .card-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        border-bottom: 1px solid $grey-light;
        padding: 1rem;
        border-top-left-radius: .5rem;
        border-top-right-radius: .5rem;

        h3 {
            margin: 0;
        }

        .card-logo {
            margin-right: 1rem;
        }

        .material-icon-outline {
            font-size: 28px;
        }
    }

    .card-toolbar {
        padding: $sidebar-card-padding;
        padding-top: .75rem;
        padding-bottom: .75rem;
        border-bottom: 1px solid $grey-light;
        
        .toolbar-input {
            display: flex;
        }
    }

    .card-body .card-list {
        display: flex;
        flex-direction: column;

        .list-item {
            display: flex;
            flex-direction: row;
            padding: $sidebar-card-padding;
            border-top: 1px solid $grey-light;

            &:first-of-type {
                border-top: none;
            }

            .list-item-details {
                margin-left: 1rem;
            }

            .detail-context {
                font-size: 85%;
            }

            .material-icon-outline {
                position: relative;
                top: 2px;
                font-size: 20px;
            }
        }
    }
}

.modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: auto;
    z-index: 11;
    background-color: rgba(0, 0, 0, .3);

    &.show {
        display: block;
    }
}

.modal-wrapper {
    max-width: 50%;
    margin: 1.75rem auto;
    opacity: 1;
}

.modal-content {
    display: flex;
    flex-direction: column;
    background-color: $grey-darkerer;
    border: 1px solid $danger-darker;
    color: $info-lightest;
}

.modal-header,
.modal-body,
.modal-footer {
    display: flex;
    align-items: center;
    padding: 1rem .75rem;
}

.modal-header {
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid $grey-dark;
    color: $info-lighter;

    h3 {
        margin-bottom: 0;
    }

    .modal-close {
        font-size: 2.25rem;
        font-weight: bold;
        cursor: pointer;
        margin-top: -1rem;
        margin-bottom: -1rem;

        &:hover {
            color: $info-lightest;
        }
    }
}

.modal-body {
    flex-direction: column;
    padding-bottom: 0;
}

.modal-footer {
    flex-direction: row;
    justify-content: flex-end;
}

.toolbox-options{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;

    .output-selector {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-start;
        column-gap: 1rem;

        .output-option {
            background-color: $grey-darker;
            border: 1px solid $grey-dark;
            border-radius: 5px;
            padding: .75rem 1.5rem;
            color: $primary-lightest;
            margin-bottom: -1px;
            z-index: 4;
            cursor: pointer;

            &.active {
                border-bottom: none;

                &:hover {
                    color: $primary-lightest;
                }
            }

            &:hover {
                color: $primary-lighter;
            }
        }
    }

    .btn {
        margin-bottom: 1rem;
    }
}

.stylesheet-output {
    display: flex;
    justify-content: flex-start;
    background-color: $grey-darker;
    border: 1px solid $grey-dark;
    padding: .75rem;
    padding-bottom: 0;
    width: 100%;
    max-height: 550px;
    overflow: auto;
}