.content {
    // TODO: Vary conent width for different screen sizes
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.content-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    margin-bottom: 3rem;

    &.two-col {
        grid-template-columns: 1fr 1fr;
    }

    &.three-col {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.btn {
	display: inline-block;
    cursor: pointer;
	font-weight: 400;
	line-height: 1.5;
	color: $primary;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: transparent;
	border: 1px solid transparent;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	border-radius: 0.25rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-sm {
    font-size: 90%;
	padding: 0.175rem 0.45rem;
}

.btn-container .btn {
    margin-right: 1rem;
}

.btn-editor-control {
    color: $grey-darkerer;
    background-color: $grey-lighterer;
    border-color: $grey-lighterer;

    &::after {
        display: inline-block;
        margin-left: .255em;
        vertical-align: .255em;
        content: "";
        border-top: .3em solid;
        border-right: .3em solid transparent;
        border-bottom: 0;
        border-left: .3em solid transparent;
    }

    &:hover {
        background-color: $grey-lighter;
        border-color: $grey-lighter;
    }

    &:focus {
        box-shadow: "0 0 0 0.25rem " + $grey,
    }
}

.alert {
    display: flex;
    flex-direction: column;
    color: $grey-darkerer;
    background-color: $grey-lighterer;
    border: 1px solid $grey-lighter;
    border-radius: .75rem;

    .alert-header {
        border-top-right-radius: .75rem;
        border-top-left-radius: .75rem;
        border-bottom: 1px solid $grey-lighter;
        padding: .5rem 1rem;
        font-size: 110%;
        font-weight: 600;
    }

    .alert-body {
        padding: .5rem 1rem;

        .alert-title {
            font-size: 125%;
            font-weight: 500;
            margin-bottom: .5rem;
        }
    }
}
