@import "variables";

$sub-nav-height: 50px;

.navbar {
    width: 100%;
    min-height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    &.nav-first {
        min-height: 40px;
        font-size: 90%;
    }

    &.nav-second {
        justify-content: center;
        min-height: 70px;
    }

    &.nav-third {
        min-height: $sub-nav-height;
    }

    &.nav-fourth {
        min-height: 30px;
        font-size: 95%;
        padding: .5rem 0;
    }
}

.nav-left {
    margin-left: 4rem;
}

.nav-right {
    margin-right: 4rem;
}

.nav-list {
    ul {
        padding: 0;
        margin: 0;
    }

    ul > li {
        display: inline-block;
        list-style: none;
        margin-right: 1rem;
    }

    .nav-item {
        display: flex;
        align-items: center;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    &.breadcrumbs {
        ul > li {
            margin-right: .25rem;
        }
    }
}

.sub-nav-list {
    min-height: $sub-nav-height;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.nav-link {
    text-decoration: none;
}

.nav-logo {
    left: 0;
    margin-left: 4rem;
    position: absolute;
    font-size: 150%;
    font-weight: 600;
}
