@import "variables";

.footer-container {
    position: fixed;
    bottom:0;
    width: 100%;
    z-index: 10;
}

#palette-editor {
    display: flex;
    flex-direction: column;
    background-color: $grey-darkerer;
    color: $info-lightest;
}

.editor-header,
.editor-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.editor-header {
    padding: .5rem 2rem;
    background-color: $grey-darker;
    border-bottom: 1px solid $grey-dark;

    & > * {
        display: flex;
        align-items: center;
    }

    .header-title {
        font-size: 110%;
        font-weight: 500;
    }
}

.editor-body {
    flex-grow: 1;
    height: 0px;
    transition: height .4s ease-in-out;

    &.expanded {
        height: 195px;
    }

    .editor-section {
        border-right: 1px solid $grey-dark;

        &:nth-of-type(1) {
            width: 20%;
        }

        &:nth-of-type(2) {
            width: 50%;
        }

        &:nth-of-type(3) {
            width: 30%;
        }

        &:last-of-type {
            border-right: none;
        }
    }
}