@import "variables";

$editorHeight: 195px;

.footer-container {
    position: fixed;
    bottom:0;
    width: 100%;
    z-index: 10;
    transition: transform .4s ease-in-out;

    &.collapse {
        transform: translateY($editorHeight);
    }
}

#palette-editor {
    display: flex;
    flex-direction: column;
    background-color: $grey-darkerer;
    color: $info-lightest;
}

.editor-header,
.editor-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.editor-header {
    padding: .5rem 2rem;
    background-color: $grey-darker;
    border-bottom: 1px solid $grey-dark;
    color: $info-lighter;

    & > * {
        display: flex;
        align-items: center;
    }

    .header-title {
        font-size: 110%;
        font-weight: 500;
    }
}

.editor-body {
    flex-grow: 1;
    height: $editorHeight;

    .editor-section {
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 1px solid $grey-dark;

        &:nth-of-type(1) {
            width: 20%;
        }

        &:nth-of-type(2) {
            width: 50%;
        }

        &:nth-of-type(3) {
            width: 30%;
        }

        &:last-of-type {
            border-right: none;
        }
    }
}

.palette-picker,
.palette-selector {
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 170px;

    .section-options {
        margin-top: 1rem;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
    }
}

.palette-selector {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 170px;

    .selector-input {
        position: relative;
        width: 100%;

        label {
            display: flex;
            margin-bottom: .5rem;
        }
    }
}

.palette-viewer {
    display: flex;
    flex-direction: column;
    height: 170px;

    .viewer-section-top,
    .viewer-section-bottom {
        display: flex;
        flex-direction: row;
    }

    .viewer-section-top {
        justify-content: space-between;
        margin-bottom: 1rem;
    }

    .selection-info {
        display: flex;
        flex-direction: row;

        .selection-info-item {
            margin-right: 1rem;

            &:last-of-type {
                margin-right: 0;
            }
        }
    }
    
    .color-info {
        display: flex;
        flex-direction: column;
        
        .color-info-title {
            margin: 0;
        }
        
        .color-info-label {
            color: $info-lighter;
        }
    }

    .color-options {
        display: flex;
        align-items: flex-end;

        .btn {
            margin-right: .5rem;

            &:last-of-type {
                margin-right: 0;
            }

            i {
                display: flex;
            }
        }
    }

    // TODO: Make sure the color grid wraps properly on slightly smaller screens. May need to use grid layout instead of flexbox.
    .color-grid {
        display: flex;
    }

    .viewer-section-top,
    .color-grid {
        flex-direction: row;
    }

    $color-grid-border: 1px solid $grey-dark;
    $color-grid-border-hover: 2px solid $grey;
    $color-grid-border-selected: 2px solid $grey-lightest;
    .color-grid-item {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        border-top: $color-grid-border;
        border-bottom: $color-grid-border;
        height: 80px;
        width: 80px;

        i {
            margin-right: .2rem;
            margin-bottom: .2rem;
            color: $grey-lightest;
        }

        &.grid-item-light i {
            color: $grey-darkest;
        }

        &:first-of-type {
            border-left: $color-grid-border;
        }

        &:last-of-type {
            border-right: $color-grid-border;
        }

        &:hover {
            border: $color-grid-border-hover;
        }

        &.selected {
            border: $color-grid-border-selected;
        }
    }
}

.color-picker-widget {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    .color-selection-info {
        width: 65%;
    }

    #color-picker {
        width: 35%;
    }
}

.color-selection-info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    & > * {
        margin-left: auto;
        margin-right: auto;
    }

    .color-value-label,
    .color-info-label {
        color: $info-lighter;
    }
}

.color-value-display {
    padding: .3rem .5rem;
    min-width: 215px;
    border-bottom: 1px solid $grey-light;
    border-left: 1px solid $grey-light;
    border-right: 1px solid $grey-light;

    &:first-of-type {
        border-top: 1px solid $grey-light;
    }
}

#color-selection-blot {
    border-radius: 50%;
    margin-bottom: 1.5rem;
    height: 50px;
    width: 50px;
    border: 1px solid $grey-light;
}

.shade-editor {
    display: flex;
    flex-direction: column;
    width: 100%;

    .hsl-editor {
        display: flex;
        flex-direction: column;
        padding-right: 2rem;
        padding-left: 2rem;

        .hsl-slider-info {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: .5rem;
            border: 1px solid $grey-light;
            width: 40%;
            margin-right: 1rem;

            label {
                color: $info-lighter;
            }

            .hsl-input-value {
                color: $info-lightest;
            }
        }

        .hsl-input {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 60%;
        }
    }
}
