@import "variables";

$editorHeightTransition: height .4s ease-in-out;
$editorTopTransition: top .4s ease-in-out;

.footer-container {
    position: fixed;
    bottom:0;
    width: 100%;
    z-index: 10;
}

#palette-editor {
    display: flex;
    flex-direction: column;
    background-color: $grey-darkerer;
    color: $info-lightest;
}

.editor-header,
.editor-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.editor-header {
    padding: .5rem 2rem;
    background-color: $grey-darker;
    border-bottom: 1px solid $grey-dark;
    color: $info-lighter;

    & > * {
        display: flex;
        align-items: center;
    }

    .header-title {
        font-size: 110%;
        font-weight: 500;
    }
}

.editor-body {
    flex-grow: 1;
    height: 0px;
    transition: $editorHeightTransition;

    &.expanded {
        height: 195px;
    }

    .editor-section {
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 1px solid $grey-dark;

        &:nth-of-type(1) {
            width: 20%;
        }

        &:nth-of-type(2) {
            width: 50%;
        }

        &:nth-of-type(3) {
            width: 30%;
        }

        &:last-of-type {
            border-right: none;
        }
    }
}

.palette-picker,
.palette-selector {
    overflow: hidden;
    width: 100%;
    height: 0px;
    transition: $editorHeightTransition;

    .section-options {
        margin-top: 1rem;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
    }

    &.expanded {
        height: 170px;
    }
}

.palette-selector {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .selector-input {
        position: relative;
        top: 120px;
        transition: $editorTopTransition;

        label {
            display: flex;
            margin-bottom: .5rem;
        }
    }

    &.expanded {
        height: 170px;
        
        .selector-input {
            top: 0;
        }
    }
}

.palette-viewer {
    display: flex;
    flex-direction: column;
    height: 0px;
    transition: $editorHeightTransition;

    &.expanded {
        height: 170px;
    }

    .viewer-section-top,
    .viewer-section-bottom {
        display: flex;
        flex-direction: row;
    }

    .viewer-section-top {
        justify-content: space-between;
        margin-bottom: 1rem;
    }

    .selection-info {
        display: flex;
        flex-direction: row;

        .selection-info-item {
            margin-right: 1rem;

            &:last-of-type {
                margin-right: 0;
            }
        }
    }
    
    .color-info {
        display: flex;
        flex-direction: column;
        
        .color-info-title {
            margin: 0;
        }
        
        .color-info-label {
            color: $info-lighter;
        }
    }

    .color-options {
        display: flex;
        align-items: flex-end;
    }

    // TODO: Make sure the color grid wraps properly on slightly smaller screens. May need to use grid layout instead of flexbox.
    .color-grid {
        display: flex;
    }

    .viewer-section-top,
    .color-grid {
        flex-direction: row;
    }

    .color-grid {
        border: 1px solid $grey-dark;
    }

    .color-grid-item {
        height: 80px;
        width: 80px;
    }
}

.color-picker-widget {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .color-selection-info {
        width: 65%;
    }

    #color-picker {
        width: 35%;
    }
}

.color-selection-info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    & > * {
        margin-left: auto;
        margin-right: auto;
    }

    .color-value-label,
    .color-info-label {
        color: $info-lighter;
    }
}

.color-value-display {
    padding: .3rem .5rem;
    min-width: 215px;
    border-bottom: 1px solid $grey-light;
    border-left: 1px solid $grey-light;
    border-right: 1px solid $grey-light;

    &:first-of-type {
        border-top: 1px solid $grey-light;
    }
}

#color-selection-blot {
    border-radius: 50%;
    margin-bottom: 1.5rem;
    height: 50px;
    width: 50px;
    border: 1px solid $grey-light;
}
