<div class="nav-container">
    <div class="navbar">
        <div class="nav-left">
            <div class="nav-list">
                <ul>
                    <li>
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li>
                        <a class="nav-link" href="#">Explore</a>
                    </li>
                </ul>    
            </div>
        </div>
        <div class="nav-right">
            
        </div>
    </div>
</div>